body {
  padding-top: 9rem;
}
.starter-template {
  padding: 3rem 1.5rem;
  text-align: center;
}

h1{
	color:#ffffff;
  background-color: #FF0000;
}

h2{
	color:#FF0000;
}

.navbar-brand{
    margin:0 0rem;
}