<html xmlns:th="http://www.thymeleaf.org">
<head>
</head>
<body>
    <nav th:fragment="navbar" class="navbar navbar-expand-lg 
    navbar-dark bg-dark shadow-sm">

        <div class="container">

            <!-- Logo / nombre -->
            <a class="navbar-brand fw-bold"
               th:href="@{/}">
                UNLAM - Trivia Game
            </a>

            <!-- botón responsive -->
            <button class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarContent">

                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- links -->
            <div class="collapse navbar-collapse"
                 id="navbarContent">

                <ul class="navbar-nav ms-auto align-items-center">

                    <!-- Home -->
                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{/Home}">
                            Inicio
                        </a>
                    </li>

                    <!-- Admin -->
                    <li class="nav-item">
                        <a class="nav-link"
                           th:href="@{/admin}">
                            Panel Admin
                        </a>
                    </li>

                    <!-- Login -->
                    <li class="nav-item ms-2">
                        <a class="btn btn-outline-light btn-sm px-3"
                           th:href="@{/login}">
                            Iniciar Sesión
                        </a>
                    </li>

                </ul>

            </div>
        </div>
    </nav>

</body>
</html>