<!DOCTYPE html>

<nav th:fragment="navbar"
     class="navbar navbar-expand-lg navbar-dark shadow-sm"
     style="background: linear-gradient(135deg, #2B7DBF, #1f5f94);">

    <div class="container">

        <a class="navbar-brand fw-bold" th:href="@{/home}">
            Trivia Game
        </a>

        <button class="navbar-toggler"
                type="button"
                data-bs-toggle="collapse"
                data-bs-target="#navbarContent"
                aria-controls="navbarContent"
                aria-expanded="false"
                aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/home}">Inicio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/buscar-juego}">Jugar</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/tutorial}">
                        ¿Cómo jugar?
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/ranking}">Ranking</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/usuario/historial}">
                        Historial
                    </a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" th:href="@{/estadisticas}">
                        Estadisticas
                    </a>
                </li>

                <li class="nav-item"
                    th:if="${session.usuario != null and session.usuario.rol == 'ADMIN'}">
                    <a class="nav-link text-warning fw-bold"
                       th:href="@{/admin}">
                        Panel Admin
                    </a>
                </li>

                <li class="nav-item">
                    <a th:if="${session.usuario == null}"
                       class="nav-link"
                       th:href="@{/login}">
                        Iniciar sesión
                    </a>

                    <a th:if="${session.usuario != null}"
                       class="nav-link text-danger"
                       th:href="@{/logout}">
                        Salir
                    </a>
                </li>

            </ul>

        </div>
    </div>

</nav>

    <script th:src="@{/webjars/bootstrap/5.2.0/js/bootstrap.bundle.min.js}"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
  
</body>
</html>
