<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Historial</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>

<body class="home-body">

    <div th:replace="~{fragments/navbar :: navbar}"></div>

    <main class="container my-5">

        <div class="text-center mb-4">
            <h1 class="title">Historial de Partidas</h1>
            <div class="divider"></div>
        </div>

        <div class="quiz-card">

            <table class="table table-striped table-hover">

                <thead>
                    <tr>
                        <th>Fecha</th>
                        <th>Puntaje</th>
                        <th>Resultado</th>
                    </tr>
                </thead>

                    <tr th:if="${#lists.isEmpty(partidas)}">
                        <td colspan="3" class="text-center">
                            No jugaste ninguna partida todavía
                        </td>
                    </tr>

                <tbody>
                    <tr th:each="partida : ${partidas}">
                        <td th:text="${partida.fecha}"></td>
                        <td th:text="${partida.puntajeObtenido}"></td>
                        <td>
                            <span th:if="${partida.esVictoria}">Ganó</span>
                            <span th:unless="${partida.esVictoria}">Perdió</span>
                        </td>
                    </tr>
                </tbody>
            </table>

            <a th:href="@{/home}">
                Volver
            </a>
        </div>
    </main>


    <footer class="quiz-footer mt-4">
        <div class="container small">
            &copy; 2026 - Taller Web I - Universidad Nacional de la Matanza
        </div>
    </footer>

</body>
</html>